# Application
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
API_PREFIX=api/v1

# Database (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urlshortener?schema=public
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=urlshortener

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redispassword
REDIS_URL=redis://:redispassword@localhost:6379

# Security
JWT_SECRET=supersecret_jwt_access_key_change_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=supersecret_jwt_refresh_key_change_in_production
JWT_REFRESH_EXPIRES_IN=7d
IP_HASH_SALT=random_salt_for_anonymizing_ips